{% extends 'base.html' %}

{% load static %}

{% block title %}Start a New Board{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">New Board</li>
{% endblock %}

{% block content %}
<form method="post" novalidate>
  {% csrf_token %}
  {% include "../includes/form.html" %}
  <button type="submit" class="btn btn-success">Post</button>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/simplemde.min.js' %}"></script>
<script>
    var simplemde = new SimpleMDE();
</script>
{% endblock %}